@media (max-width: 375px) {

    body {
        width: 375px;
    }

    .header-container {
        display: flex;
        justify-content: center;
    }

    .nav-bar,
    .header-circle {
        visibility: hidden;
    }

    .web-title-container {
        width: 281px;
        height: 192px;
        margin: 102px 0 0 0;
    }

    .web-title {
        text-align: center;
        font-size: 30px;
        font-family: "Libre Baskerville";
        font-weight: 400;
        line-height: 160%;
        width: 281px;
        height: 192px;
    }

    .yellow-bg {
        margin-left: 187px;
        width: 188px;
        height: 768px;
    }

    .header-container {
        width: 375px;
    }

    .logo-weight {
        margin: 18px 0 0 0;
        height: 40px;
        width: 88.91px;
    }

    .spot-available {
        text-align: center;
        width: 281px;
        height: 12px;
        visibility: visible;
        margin: 19px 0 0 0;
    }

    .counter-container {
        width: 281px;
        height: 159px;
        margin: 351px 0 0 0;
        border-radius: 1rem;
        padding: 26px 16px 0 36px;
    }

    .counter {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 26px 36px 26px 36px;
        border-radius: 1rem;
    }

    .counter-title {
        font-size: 12px;
        font-family: "Montserrat";
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        height: 19px;
    }

    .counter-time-title {
        font-size: 8px;
        font-family: "Montserrat";
        font-weight: 500;
        text-align: center;
        margin: 20px 15px 0 0;
        color: rgba(0, 131, 211, 1);
        width: auto;
        letter-spacing: 3px;
        height: 14px;
    }

    .counter-time {
        font-size: 18px;
        font-family: "Montserrat";
        font-weight: 500;
        left: 5px;
        color: rgba(51, 51, 51, 1);
        width: auto;
        height: 32px;
        margin-top: 19px;
    }

    .web-title-intro-mobile {
        visibility: visible;
        margin: 107px 0 43px 0;
        font-size: 16px;
        width: 281px;
    }

    .pink-button {
        margin-left: 33px;
    }

    .pink-section {
        max-width: 375px;
        padding: 57px 0 0 0;
    }

    .pink-left-circle {
        width: 125px;
        height: 125px;
        margin: 265px 0 0 -71px;
    }

    .pink-container {
        margin: 0 0 0 47px;
        display: grid;
        grid-template-columns: 134px 134px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .pink-cards {
        width: 134px;
        height: 157px;
        margin: 0 0 0 0;
    }

    .pink-images {
        width: 24px;
        height: 24px;
        margin: 15px 0 0 0;
    }

    .pink-card-numbers,
    .pink-card-symbol {
        font-size: 18px;
        padding: 0 0 0 0;
        margin: 6px 4px 0 0;
    }

    .pink-card-text {
        font-size: 12px;
        width: 127px;
    }

    .pink-card-container {
        height: 32px;
        margin: 0 0 6px 0;
    }

    .yellow-button {
        margin: 28px 0 0 94px;
        font-size: 16px;
        width: 215px;
    }

    .sky-blue {
        width: 375px;
    }

}