*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}

header {
     max-width: fit-content;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    height: 17px;
    width: fit-content;
    margin-right: 36px;
}

.header-container {
    background-color: #F9F9F9;
}

.menu {
    position: absolute;
    visibility: hidden;
    height: 17.6px;
    width: 25px;
    margin: 24px 0 0 320px;
}

.menu summary {
    list-style: none;
}

.list-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:#FFD900;
    margin: 0 0 0 -120px;
    padding: 8px;
    border: 1px solid #ffea76;
    border-radius: 1rem;
    z-index: 4;
}

.list-menu ul li {
    color: black;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-bottom: 8px;
}

.menu hr {
    border: 1px solid #DD71C6;
    margin: 5px 0 0 0;
    border-radius: 2px;
}

.ul-nav {
    display: flex;
    flex-direction: row;
}

.header-circle {
    position: absolute;
    border: 27px solid white;
    border-radius: 100%;
    height: 386px;
    width: 386px;
    margin: 186px 1925px 0 -91px;
}

.nav-bar {
    margin: 39px 311px 0 581px;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.nav-bar a {
    color: black;
}

.logo-weight {
    margin: 20px 0 0 390px;
    height: 62px;
    position: absolute;
}

.spot-available {
    font-size: 12px;
    visibility: hidden;
}

.spot-available span {
    color: #DD71C6;
}

.yellow-bg {
    background-color: #FFD900;
    height: 760px;
    width: 590px;
    margin-left: 1330px;
    border-top-left-radius: 2rem;
}

.web-title-container {
    position: absolute;
    margin: 203px 0 0 390px;
}

.web-title {
    font-size: 45px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    width: 437px;
    height: 272px;
}

.web-title span {
    color: #DD71C6;
}

.web-title-intro {
    font-size: 16px;
    max-width: 459px;
    max-height: 78px;
    margin-top: 26px;
}

.web-title-intro-mobile {
    visibility: hidden;
}

.pink-button {
    background-color: #DD71C6;
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 26px;
    width: 215px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 10px 14px 10px 14px;
}

.pink-left-circle {
    position: absolute;
    height: 185px;
    width: 185px;
    margin: 156px 0 0 67px;
}

.counter-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 0px 41px 36px;
    margin-left: 908px;
    margin-top: 177px;
    width: 629px;
    height: 281px;
    border-radius: 2.5rem;
    background: linear-gradient(270deg, transparent, white);
    backdrop-filter: blur(20px);
}

.counter {
    display: flex;
    flex-direction: row;
}

.counter-title {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    height: 29px;
}

.counter-time-title {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    letter-spacing: .31rem;
    margin: 43px 39px 0 0;
    color: rgba(0, 131, 211, 1);
    width: auto;
    height: 32px;
}

.counter-time {
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: 700;
    left: 5px;
    letter-spacing: 0;
    color: rgba(51, 51, 51, 1);
    width: auto;
    height: 89px;
    margin-top: 36px;
}

.pink-section {
    background-color: #DD71C6;
    height: 570px;
    width: 1920px;
}

.pink-container {
    display: flex;
    flex-direction: row;
    margin-left: 390px;
}

.pink-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 264px;
    width: 249px;
    border-radius: 1rem;
    margin-right: 48px;
    margin-top: 99px;
}

.pink-images {
    height: 47px;
    width: 47px;
}

.image-container {
    padding-top: 16px;
}

.pink-card-container {
    display: flex;
    flex-direction: row;
}

.pink-card-numbers,
.pink-card-symbol {
    font-size: xx-large;
    margin: 22px 0 22px 0;
    padding: 9px 0 9px 0;
}

.pink-card-symbol {
    margin-left: 16px;
    color: #C4C4C4;
}

.pink-card-text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.yellow-button {
    background-color: #FFD900;
    border: none;
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 10px 14px 10px 14px;
    margin-left: 853px;
    margin-top: 4rem;
}

.sky-blue {
    width: 1920px;
    height: 799px;
    background-color: #73C3F4;
    color: #FFFFFF;
}

.sky-blue-left-circle {
    position: absolute;
    border: 27px solid white;
    border-radius: 100%;
    height: 271px;
    width: 271px;
    margin: 350px 1925px 0 -136px;
}

.sky-blue-right-circle {
    position: absolute;
    margin: 204px 0 0 1444px;
}

.sky-blue-container {
    margin-left: 390px;
}

.sky-blue h2 {
    font-size: 32px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    width: 491px;
    height: 51px;
}

.sky-blue-text {
    position: absolute;
    margin-top: 82px;
}

.sky-blue-text h2 {
    width: 491;
    height: 51px;
    margin-top: 52px;
}

.sky-blue-text p {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    width: 388px;
    height: 130px;
    margin-top: 15px;
}

.sky-blue-text button {
    background-color: #DD71C6;
    border: none;
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 10px 14px 10px 14px;
    margin-top: 37px;
}

.sky-blue-image {
    position: absolute;
    margin: 98px 0 0 590px;
    z-index: 2;
}

.back-circle {
    position: absolute;
    border: 27px solid white;
    border-bottom: 0;
    border-top-left-radius: 222px;
    border-top-right-radius: 222px;
    height: 202px;
    width: 404px;
    margin: 169px 0 -202px 80px;
    z-index: -1;
}

.back-circle2 {
    position: absolute;
    border: 27px solid white;
    border-top: 0;
    border-bottom-left-radius: 222px;
    border-bottom-right-radius: 222px;
    height: 202px;
    width: 404px;
    margin: 369px 0 -202px 80px;
}

.help-section {
    width: 1920px;
    height: 794px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-section h3 {
    font-size: 32px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: 288px;
    height: 51px;
    margin-top: 89px;
    margin-bottom: 20px;
}

.help-section p {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: 1140px;
    height: 78px;
    margin-bottom: 20px;
}

.help-button,
.help-button-mobile {
    background-color: #DD71C6;
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 14px;
    width: 215px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 10px 14px 10px 14px;
}

.help-button-mobile {
    display: none;
}

.help-section img {
    margin-top: auto;
    justify-self: flex-end;
}

.help-break {
    display: none;
}

.consultation-section {
    height: 796px;
    width: 1920px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultation-left-circle {
    position: absolute;
    border: 27px solid white;
    border-radius: 100%;
    height: 386px;
    width: 386px;
    margin: 186px 1727px 0 -193px;
}

.consultation-large-circle {
    position: absolute;
    border: 27px solid white;
    border-radius: 100%;
    height: 279px;
    width: 279px;
    margin: 31px 0 0 1530px;
}

.consultation-small-circle {
    position: absolute;
    height: 158px;
    width: 158px;
    margin: 456px 0 0 1430px;
}

.consultation-section h3 {
    font-size: 32px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    width: 756px;
    height: 51px;
    margin: 102px 0 64px 0;
}

.consultation-section span {
    color: #DD71C6;
}

.consultation-card-container {
    display: flex;
    flex-direction: row;
}

.consultation-card {
    height: 391px;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 0 0;
}

.consultation-section button {
    background-color: #DD71C6;
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 88px;
    width: 215px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 10px 14px 10px 14px;
}

.consultation-section h2 {
    font-size: 24px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    color: rgba(221, 113, 198, 1);
    width: 280px;
    height: 41px;
    text-align: center;
}

.consultation-section h4 {
    font-size: 24px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    color: rgba(0, 131, 211, 1);
    width: 280px;
    height: 41px;
    text-align: center;
}

.consultation-section hr {
    width: 384px;
    margin: 39px 0 39px 0;
}

.consultation-section ul {
    height: auto;
}

.consultation-section li {
    height: auto;
    width: 400px;
    list-style: inside;
    list-style-position: outside;
    line-height: 1.5rem;
    margin-bottom: 20px;
    margin-left: 5.5rem;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.faq-section {
    width: 100vw;
    height: 1446px;
    display: flex;
    flex-direction: column;
    margin-left: 390px;
}

.faq-left-circle {
    position: absolute;
    border: 27px solid #F9F9F9;
    border-radius: 100%;
    height: 410px;
    width: 410px;
    margin: 728px 0 308px -580px;
}

.faq-right-circle {
    position: absolute;
    border: 27px solid #F9F9F9;
    border-radius: 100%;
    height: 269px;
    width: 269px;
    margin: 147px 0 0 1200px;
}

.faq-svg-circle {
    position: absolute;
    height: 124px;
    width: 124px;
    margin: 1051px 0 0 1200px;
}

.faq-section h2 {
    font-size: 32px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: 500px;
    height: 51px;
    margin-top: 98px;
}

.faq-section div {
    margin-top: 64px;
    margin-bottom: 23px;
}

.faq-section-details {
    display: flex;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    width: 1135px;
    height: auto;
    padding: 20px 15px 20px 15px;
    margin-bottom: 30px;
    background-color: #F9F9F9;
    border-radius: 1rem;
}

.faq-section-details summary {
    list-style: none;
}

.faq-section button {
    background-color: #DD71C6;
    border: none;
    margin-left: 463px;
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding: 10px 14px 10px 14px;
}

.faq-section-img {
    position: absolute;
    justify-self: flex-end;
    margin: 20px 0 0 1060px;
    height: 20px;
    width: 20px;
}

footer {
    height: 590px;
    width: 1920px;
    background-color: #F9F9F9;
}

.footer-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 105px;
    margin-left: 390px;
}

.footer-left {
    width: 443px;

}

.footer-left p {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: 441px;
    height: auto;
    margin-top: 33px;
    margin-bottom: 45px;
}

.footer-left h6 {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: 441px;
    height: 26px;
    margin-bottom: 27px;
}

.footer-break {
    display: none;
}

.footer-left-h6-img {
    height: 20px;
    width: 14px;
    margin-right: 16px;
}

.social-media {
    margin-top: 72px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    margin-left: 268px;
}

.footer-right h3 {
    font-size: 24px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: auto;
    height: 38px;
    margin-bottom: 25px;
}

.copyright {
    position: absolute;
    margin-top: 412px;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: 419px;
    height: 26px;
}

footer h4 {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    width: auto;
    height: 26px;
    margin-top: 20px;
    margin-right: 50px;
}

.footer-svg-circle {
    position: absolute;
    margin: 200px 0 0 80px;
}

.footer-right-circle {
    position: absolute;
    border: 27px solid white;
    border-radius: 100%;
    height: 368px;
    width: 368px;
    margin: 165px 0 0 1652px;
}